
        <!----------------------------------------> 
        <div *ngIf="movies.length>0; else noMovies">
            <h1 >{{title}}</h1>    
            <div class="mb-3">
                <input [(ngModel)]="searchedMovie" (ngModelChange)="searchMovie()" 
                type="text" class="form-control" placeholder="Film Ara" >
                <small class="text-muted" *ngIf="searchedMovie">Aranan : {{searchedMovie}}</small>
            </div>
        </div>
        <ng-template ngIf="loading==false" [ngTemplateOutlet]="movieList1"></ng-template>

        <!----------------------------------------> 
        <ng-template #noMovies >
            <div class="alert alert-warning" >Herhangi Bir Film Bulunamadı</div>
         </ng-template>
         
         <p>{{today | date:'fullDate'}}</p>  
         
         <div *ngIf="loading">
             <div class="spinner-border text-primary" role="status">
                 <span class="sr-only"></span>
               </div>
         </div>
        <ng-template #movieList1>
        <hr>
        <div class="card mb-3" *ngFor="let item of filteredMovies ">
            <div class="row">
                <div class="col-md-3">
                    <img src="/assets/img/{{item.imageUrl}}" class="img-fluid rounded-start" alt="">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h2 class="card-title">{{item.title}}</h2>
                        <ul style="text-align: end;" class="list-group list-group-flush ">
                            <li class="list-group-item text-muted">Yayınlanma Tarihi : {{item.publishedDate}}<!--{{item.publishedDate|date:'dd/MM/y'}}--></li>
                            <li class="list-group-item text-muted">Yönetmenler : {{item.filmDirectors}}</li>
                            <li class="list-group-item text-muted">Senaristler :{{item.screenWriters}}</li>
                        </ul>
                        <hr>
                        <p class="card-text" style="text-align: left;">{{item.description | summary: 150}}</p>
                        <div>
                            <a routerLink="/movies/{{item.id}}" class="btn btn-sm btn-outline-primary">Detaylar</a>
                            <a *ngIf="!getButtonStatus(item)" (click)="addToList($event,item)" class="btn btn-sm btn-primary ms-1">Listeye Ekle</a>
                            <a *ngIf="getButtonStatus(item)" (click)="addToList($event,item)" class="btn btn-sm btn-danger ms-1">Listeden Çıkar</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </ng-template>
        <ng-template #movieList2 let-popularFilms = "movies">
            <h4>Populer Filmler</h4>
            <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
                <div *ngFor="let item of popularFilms" class="col">
                    <div class="card h-100">
                        <img src="/assets/img/{{item.imageUrl}}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{item.title}}</h5>
                            <p class="card-text">{{item.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <!----------------------------------------> 

  








