<div *ngIf="movies.length>0; else noMovies">
    <h1 >{{title}}</h1>



    
    <div class="alert alert-success">{{movies.length}} tane film var.</div>
    <ng-template [ngTemplateOutlet]="movieList2" [ngTemplateOutletContext]="{movies:popularMovies}"></ng-template>
    <hr>
    <ng-template [ngTemplateOutlet]="movieList1"></ng-template>
    
    <ng-template #movieList1>
    <h5>Film Listesi</h5>
    <div class="card mb-3" *ngFor="let item of movies">
        <div class="row">
            <div class="col-md-3">
                <img src="/assets/img/{{item.imageUrl}}" class="img-fluid rounded-start" alt="">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h2 class="card-title">{{item.title}}</h2>
                    <p class="card-text">{{item.description}}</p>
                    <button class="btn btn-sm btn-outline-primary">Detaylar</button>
                </div>
            </div>
        </div>
    </div>
    </ng-template>

    <ng-template #movieList2 let-popularFilms = "movies">
        <h4>Populer Filmler</h4>
        <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
            <div *ngFor="let item of popularFilms" class="col">
                <div class="card h-100">
                    <img src="/assets/img/{{item.imageUrl}}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{item.title}}</h5>
                        <p class="card-text">{{item.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>



<ng-template #noMovies >
   <div class="alert alert-warning" >Herhangi Bir Film Bulunamadı</div>
</ng-template>
