<div *ngIf="movie; else blank">
    <div class="card">
        <div class="row">
            <div class="col-md-4">
                <img src="/assets/img/{{movie.imageUrl}}" class="img-fluid">
            </div>
            <div class="col-md-8">
                <div class="card text-center">
                    <div class="card-header">
                    <b>{{movie.title}}</b>
                    </div>
                    <div class="card-body">
                        <ul style="text-align: end;" class="list-group list-group-flush ">
                            <li class="list-group-item text-muted">Yayınlanma Tarihi : {{movie.publishedDate|date:'dd/MM/y'}}</li>
                            <li class="list-group-item text-muted">Yönetmenler : {{movie.filmDirectors}}</li>
                            <li class="list-group-item text-muted">Senaristler :{{movie.screenWriters}}</li>
                            <li class="list-group-item text-start text-muted">IMDB Puanı: {{movie.imdbPoint+"/10"}}</li>
                        </ul>
                        <hr>
                        <div class="text-start">{{movie.description}}</div>
                    </div>
                    <div class="card-footer text-muted text-start">
                        <a (click)="leaveComment()" class="btn btn-primary">Yorum Yap</a>
                        <div class="text-end" *ngIf="leaveeComment;">
                            <input type="text">
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
</div>
<ng-template #blank>
    <div class="alert alert-warning">
        {{"Film Bulunamadı"}}
    </div>
</ng-template>

<div *ngIf="loading">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
      </div>
</div>
